
<!-- Default home page -->
<link type="text/css" href='http://sailsjs.org/styles/fonts.css' rel='stylesheet'/>
<style>
    /* Styles included inline since you'll probably be deleting this page anyway */
    html,body{text-align:left;font-size:1em}html,body,img,form,textarea,input,fieldset,div,p,div,ul,li,ol,dl,dt,dd,h1,h1,h3,h4,h5,h6,pre,code{margin:0;padding:0}ul,li{list-style:none}img{display:block}a img{border:0}a{text-decoration:none;font-weight:normal;font-family:inherit}*:active,*:focus{outline:0;-moz-outline-style:none}h1,h1,h3,h4,h5,h6{font-weight:normal}div.clear{clear:both}.clearfix:after{clear:both;content:".";display:block;font-size:0;height:0;line-height:0;visibility:hidden}body{font-family:"Open Sans",Arial,sans-serif;font-weight:300;font-size:15px}h1{color:#0c8da0;font-size:2em;font-weight:300}h1{font-size:1.5em;font-weight:300;margin-top:4%}h3{font-size:1.25em;font-weight:300;font-style:italic;margin-bottom:5px}h4{color:#0c8da0;font-weight:300;font-size:1.5em}span{font-weight:700}ul{margin-top:5%;margin-bottom:5%}a{text-decoration:none;color:inherit}p{margin-bottom:7px;font-size:.9em}.container{max-width:997px;margin:0 auto;padding:0 4%}.sprite{font-weight:normal;background:url(http://sailsjs.org/images/newapp.sprite.png) no-repeat}.top-bar{position:relative;padding-top:10px;background-color:#001c20;height:55px}.main{height:555px;margin-top:50px}.steps{height:250px}.getting-started p{ margin-bottom: 30px; line-height: 26px; }.getting-started div{float:left;width:540px}.getting-started li{clear:both;height:60px;margin-top:20px;margin-bottom:20px}.getting-started .sprite{margin-left:10px;padding-left:60px;height:42px;width:0}.getting-started .one{background-position:0 0}.getting-started .two{background-position:0 -42px}.getting-started .three{background-position:0 -83px}.delete{margin-top:5%;height:52px;background:#e3f0f1;border:1px solid #118798;color:#118798;clear:both}.delete .sprite{margin-top:10px;margin-bottom:10px;margin-left:9%;padding-left:42px;padding-top:7px;height:25px;background-position:0 -126px}.delete a{color:#0c8da0;font-weight:bold;padding-left:1%}.side-bar{max-width:327px;height:555px;float:left;border-left:1px solid #0c8da0;margin-left:25px;margin-top:50px;padding-left:25px}.side-bar ul{margin-bottom:10%}.side-bar ul li{margin-top:5px;margin-bottom:.25em}.side-bar ul li a{margin-bottom:.25em}.side-bar .sprite{padding-left:25px}.side-bar .single_page{background-position:0 -199px}.side-bar .traditional{background-position:0 -219px}.side-bar .realtime{background-position:0 -179px}.side-bar .api{background-position:0 -158px}.boxy{font-family:Courier,"Courier New",sans-serif;background-color:#e4edec;border:1px solid #d0d6d6;padding-left:5px;padding-right:5px;padding-top:2px;padding-bottom:2px;font-weight:100}.sixteen{margin-right:10px}.nineteen{margin-right:7px}
</style>
<!--[if IE 7]>
    <style>
    .getting-started li{overflow:visible;clear:both}.delete{width:690px}
    </style>
<![endif]-->

<div class="top-bar">
    <div class="container clearfix">
        <img class="logo" src="http://sailsjs.org/images/sails-logo.jpg" />
    </div>
</div>

<div class="container clearfix">
    <div class="main">
        <h1>Welcome!</h1>
        <div>
            If you are here, it's because you want to use our application, <strong>Trip Analyzer</strong>.<br />
            Let's get started.<br/>
            <br/>
            You are now connected by socket, using socket.io. A web service is available for make some requests and get results:<br />
            <br />

        </div>
        <h1>Web service</h1>
        <div>
            <b>All the URL can be called by GET or POST, like you prefer.</b><br />
            <b>All returned result are returned in JSON.</b><br />
            <b>You can access to these functionalities using your browser too.</b><br />
        </div>
        <div>
            <h2>User CRUD</h2>
            <i>You have to be connected for access to every web service functionnalities, except <b>connect</b>, obviously.</i><br />
            <ul>
                <li>
                    * <b>connect</b>: <a href="user/connect">user/connect</a> - Connect an existing user.
                    <ul style="margin-top: 0px; margin-left: 5%;">
                        <li>- <b>email</b>: User email. <b>Required</b>.</li>
                        <li>- <b>password</b>: User password. <b>Required</b>.</li>
                    </ul>
                </li>
                <li>
                    * <b>find</b>: <a href="user/find">user/find</a> - Get your own information.
                    <ul style="margin-top: 0px; margin-left: 5%;">
                    </ul>
                </li>
                <li>
                    * <b>create</b>: <a href="user/create">user/create</a> - Create a new user.
                    <ul style="margin-top: 0px; margin-left: 5%;">
                        <li>- <b>email</b>: User email. <b>Required</b>.</li>
                        <li>- <b>password</b>: User password. <b>Required</b>.</li>
                    </ul>
                </li>
                <li>
                    * <b>update</b>: <a href="user/update">user/update</a> - Update your own account.
                    <ul style="margin-top: 0px; margin-left: 5%;">
                        <li>- <b>newEmail</b>: New email. <i>Optional</i>.</li>
                        <li>- <b>newPassword</b>: New password. <i>Optional</i>.</li>
                    </ul>
                </li>
            </ul>
            <br />
            <hr />
            <br />
            <h2>Device CRUD</h2>
            <ul>
                <li>
                    * <b>find</b>: <a href="device/find">device/find</a> - Get all your devices.
                    <ul style="margin-top: 0px; margin-left: 5%;">
                        <li>- <b>id</b>: ID of the device. <i>Optional</i></li>
                        <li>- <b>hardwareId</b>: MAC address of the device. <i>Optional</i></li>
                        <li>- <b>label</b>: Label of the device. <i>Optional</i></li>
                        <li>- <b>limit</b>: Limit returned results. <i>Optional</i></li>
                    </ul>
                </li>
                <li>
                    * <b>create</b>: <a href="device/create">device/create</a> - Create a new device.
                    <ul style="margin-top: 0px; margin-left: 5%;">
                        <li>- <b>label</b>: Label of the device (displayed on the phone). <b>Required</b>.</li>
                        <li>- <b>hardwareId</b>: MAC address of the device. <b>Required</b>.</li>
                        <li>- <b>details</b>: Information about the device. <i>Optional</i>.</li>
                        <li>- <b>refreshFrequency</b>: Time between sending the position server.. <i>Optional</i>.</li>
                        <li>- <b>askingFrequency</b>: Time between asking the action to do. <i>Optional</i>.</li>
                        <li>- <b>askingFrequencyActive</b>: Time between asking action to do while at least one action is <b>pending/processing</b>. <i>Optional</i>.</li>
                    </ul>
                </li>
                <li>
                    * <b>update</b>: <a href="device/update">device/update</a> - Update an existing device.
                    <ul style="margin-top: 0px; margin-left: 5%;">
                        <li>- <b>hardwareId</b>: MAC address of the device. <b>Required</b>.</li>
                        <li>- <b>label</b>: Label of the device (displayed on the phone). <i>Optional</i>.</li>
                        <li>- <b>details</b>: Information about the device. <i>Optional</i>.</li>
                        <li>- <b>refreshFrequency</b>: Time between sending the position server.. <i>Optional</i>.</li>
                        <li>- <b>askingFrequency</b>: Time between asking the action to do. <i>Optional</i>.</li>
                        <li>- <b>askingFrequencyActive</b>: Time between asking action to do while at least one action is <b>pending/processing</b>. <i>Optional</i>.</li>
                    </ul>
                </li>
            </ul>
            <br />
            <hr />
            <br />
            <h2>Location CRUD</h2>
            <ul>
                <li>
                    * <b>find</b>: <a href="location/find">location/find</a> - Get all your locations.
                    <ul style="margin-top: 0px; margin-left: 5%;">
                        <li>- <b>hardwareId</b>: MAC address of the device. <b>Required</b></li>
                        <li>- <b>id</b>: ID of the location. <i>Optional</i></li>
                        <li>- <b>limit</b>: Limit returned results. <i>Optional</i></li>
                    </ul>
                </li>
                <li>
                    * <b>create</b>: <a href="location/create">location/create</a> - Create a new user.
                    <ul style="margin-top: 0px; margin-left: 5%;">
                        <li>- <b>hardwareId</b>: MAC address of the device. <b>Required</b>.</li>
                        <li>- <b>lat</b>: Latitude. <b>Required</b>.</li>
                        <li>- <b>long</b>: Longitude. <b>Required</b>.</li>
                    </ul>
                </li>
            </ul><br />
            <hr />
            <br />
            <h2>Action CRUD</h2>
            <ul>
                <li>
                    * <b>find</b>: <a href="action/find">action/find</a> - Get all your actions.
                    <ul style="margin-top: 0px; margin-left: 5%;">
                        <li>- <b>hardwareId</b>: MAC address of the device. <b>Required</b></li>
                        <li>- <b>id</b>: ID of the action. <i>Optional</i></li>
                        <li>- <b>status</b>: Status of the actions. <i>Optional</i></li>
                        <li>- <b>limit</b>: Limit returned results. <i>Optional</i></li>
                    </ul>
                </li>
                <li>
                    * <b>create</b>: <a href="action/create">action/create</a> - Create a new action.
                    <ul style="margin-top: 0px; margin-left: 5%;">
                        <li>- <b>hardwareId</b>: MAC address of the device. <b>Required</b>.</li>
                        <li>- <b>type</b>: Name of the function to call. <b>Required</b>.</li>
                        <li>- <b>data</b>: Data which could be useful to the function called. <i>Optional</i>. [JSON]</li>
                    </ul>
                </li>
                <li>
                    * <b>update</b>: <a href="action/update">action/update</a> - Update an existing action.
                    <ul style="margin-top: 0px; margin-left: 5%;">
                        <li>- <b>actionId</b>: Id of the action. <b>Required</b>.</li>
                        <li>- <b>status</b>: New status. (Pending, Processing, Executed) <i>Optional</i>.</li>
                        <li>- <b>data</b>: Data which could be useful to the WP8 client. <i>Optional</i>. [JSON]</li>
                    </ul>
                </li>
            </ul>
        </div>
        <br />
    </div>
</div>
